**

!Dockerfile
!.dockerignore
!.gcloudignore
!cloudbuild.yaml
!README.md
!pyproject.toml
!uv.lock

!src/
!src/**

!datasets/
!datasets/**

!scripts/
!scripts/start-container.sh

**/__pycache__/
**/*.py[cod]
